listen-address=::1,127.0.0.1,{{ listening_interface_ip_address }}
interface={{ listening_interface_name}}
dhcp-range={{ dhcp_range }}
dhcp-leasefile=/opt/dnsmasq/dnsmasq.leases
dhcp-authoritative

#To disable adding default route to the private network assigned by dnsmasq
dhcp-option=3

dhcp-option=6{{ dns_servers_opt6 }}


#Google's nameservers
server=8.8.8.8
server=8.8.4.4
